<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.pr_idi.mydatabaseexample">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Films Admin"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DrawerActivity"
            android:label="Films Admin"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.pr_idi.mydatabaseexample.MainActivity" />
        </activity>
        <activity android:name=".crearFilmActivity"
            android:label="Afegir Pel·lícula"/>
        <activity android:name=".bioFilmActivity"
            android:label="Pel·lícula"/>

    </application>

</manifest>